body {
  font-family: "Noto Sans JP", sans-serif;
  background: #e3e3e3;
  max-width: 40rem;
  width: 95%;
  font-size: 100%;
  margin: 0 auto;
}

/* 各パーツ */

twitter-widget {
  margin: auto;
}

/* Spotify */
iframe {
  display: block;
  margin: auto;
  max-width: 100%;
}


.footnote-definition:first-of-type {
  margin-top: 3rem;
  border-top: black solid 1px;
}

.footnote-definition-label {
  top: 1rem;
}

table {
  width: inherit;
  margin-left: 1rem;
  width: 80%;
  margin: auto;
}
th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}
th {
  background: #f4f4f4;
}

time.diary {
  font-family: "Kelly Slab", cursive;
  display: block;
  margin: 0 auto;
  padding: 0.3rem 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
}

code,
tt {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

code {
  width: 80%;
  margin: auto;
}

/* 共通Components */

/** Header **/
#header {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

#header a {
  text-decoration: none;
}

#header h1.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
  font-size: 3rem;
  font-family: "Caveat", cursive;
}

#header p {
  color: #484848;
  font-family: "Caveat", cursive;
  font-size: 1.3rem;
}

#header .link {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}

#header .link a {
  color: black;
  text-decoration: underline;
}

/** Footer **/


#footer {
  text-align: center;
  margin-bottom: 1rem;
}

#footer a {
  text-decoration: none;
  color: black;
}

#footer a:hover {
  text-decoration: underline;
}

#footer hr {
  width: 80%;
}

/* トップページ */

/** 一覧表示 **/
.day_colum {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.day_colum a {
  text-decoration: none;
  color: #111;
  display: inline-block;
}

.day_colum .diary_title {
  text-decoration: none;
  color: #111;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  display: inline-block;
}

.day_colum p.diary_title:hover {
  text-decoration: underline;
}

/* ページング */

.paging {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
}

.paging a {
  color: #777;
}

/* 個別ページ */

/** ナビゲーション **/

.navigation {
  text-align: center;
}

.navigation .day {
  margin: 0.5rem;
}

.navigation .day a {
  text-decoration: none;
  color: #111;
}

/** 情報 **/

.info {
  text-align: center;
  margin-bottom: 1rem;
}

.info h1 {
  display: block;
  color: black;
  padding: 10px;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

/** 本文 **/

.diary {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 5em;
}


.diary h1 {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.diary h2 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.diary p {
  color: #333;
  margin-bottom: 1rem;
  text-indent: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.diary hr {
  border-width: 1px;
  border-style: ridge;
  width: 80%;
}

.diary img {
  max-width: 100%;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

blockquote > p::before {
  content: "＞　";
}
blockquote > p {
  color: #8c8c8c !important;
}
